@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .nav-icon {
    @apply text-lime-500 font-extrabold;
  }
}

.col{
  color: #191b34;
  animation: name duration timing-function delay iteration-count direction fill-mode;
  scale: 1;
  background-position: center;
}

